---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.svelte";
import Working from "../components/Working.svelte";
import Skills from "../components/Skills.svelte";
---

<Layout title="martinleib">
    <main>
        <Hero />
        <Working />
        <Skills />
    </main>
</Layout>
