$sans-font-family: "Def Sans";
$serif-font-family: "Lora", system-ui !important;
$sans-font-source: url(lib/DefSans-Regular.woff2) format("woff2");
$serif-font-source: "https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
@tailwind variants;

@import url($serif-font-source);

@font-face {
    font-family: $sans-font-family;
    src: $sans-font-source;
}

body {
    font-family: $sans-font-family;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem;
    width: 100%;
    max-width: 64rem;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: left;
}

@media (min-width: 767px) {
    main {
        padding: 8rem 2rem;
    }
}

.serif {
    font-family: $serif-font-family;
    font-style: italic;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.5s ease;
}

.fade-out {
    opacity: 0;
}